<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Kursach.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ADMIN-PCKursach" connectionString="XpoProvider=MSSqlServer;data source=ADMIN-PC;user id=begmurod;password=1;initial catalog=Kursach;Persist Security Info=true" />
        <add name="Kursach.Properties.Settings.KursachConnectionString"
            connectionString="Data Source=ADMIN-PC;Initial Catalog=Kursach;Persist Security Info=True;User ID=begmurod;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
		<Kursach.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
          <value>XpoProvider=MSSqlServer;data source=ADMIN-PC; integrated security=false;initial catalog=Kursach;User Id=begmurod;Password=1</value>
      </setting>
  </Kursach.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
